.contact {
    background: $colorPrimary4;
    background-image: url("../images/bg_purple.jpg");
    background-size: cover;
    background-position: bottom;
}

.contactBox {
    background: rgba($colorText4, 0.7);
    color: $colorPrimary4;
}

.links {
    padding-top: 1rem;
}

.links i {
    font-size: 5rem;
    color: $colorPrimary4;
}