.header {
    background: $colorPrimary1;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    width: 15%;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
}

.nav {
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactMenuItem {
    width: 15%;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}