.header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
}

.contact {
    width: 20%;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 20%;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}
