body {
    font-family: "Cabin", sans-serif;
    background: $colorPrimary1;
    color: $colorText1;
    overflow-x: hidden;
}

//.container {
//    max-width: 1400px;
//    padding-left: 15px;
//    padding-right: 15px;
//    margin: 0 auto;
//}

a {
    text-decoration: none;
    color: $colorText1;
}