.home {
    background-image: url("../images/bg_yellow.jpg");
    background-size: cover;
}

.welcomeBox {
    background: rgba($colorText1, 0.95);
    color: $colorPrimary1;
}

.welcomeText {
    font-weight: 700;
}

.infoText {
    font-size: 2rem;
    color: $colorSecondary1
}