.me {
    background: $colorPrimary2;
    background-image: url("../images/bg_pink.jpg");
    background-size: cover;
}

.meBox {
    width: 80%;
    max-height: 80%;
    background: rgba($colorText2, 0.75);
    color: $colorPrimary2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
    height: auto;
    width: 15%;
    min-width: 10rem;
    border: 0.1rem dotted $colorSecondary2;
    border-radius: 50%;
}

.infoContainer {
    width: 100%;
    font-size: 1.2rem;
}

.infoContainer p:first-of-type {
     margin-bottom: 1rem;
}

.emphasizedText {
    font-weight: 700;
}

.skills {
    width: 70%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    padding: 1rem;
    color: $colorLightest2;
}

.skills ul {
    width: 50%;
    list-style-type: none;
}