.menu {
    list-style-type: none;
}

.menuItem {
    display: inline-block;
    margin: 1rem;
}

.menuItem a {
    padding: 0.5rem;
    text-transform: uppercase;
}

.menuItem a:hover {
    color: $colorSecondary1;
}

.menuItemActive {
    text-decoration: underline;
}

.menuItemActive a:hover {
    color: $colorText1;
}

.contactMenuItem a {
    padding: 0.5rem;
    padding-right: 0;
}

.contactMenuItem a:hover {
    color: $colorSecondary1;
}